# 로컬DB 연결 URL을 설정합니다. 실제 비밀번호로 변경해야 합니다.
# DATABASE_URL="postgresql://postgres:여기에_비밀번호@localhost:5432/shopping_app"

# Neon 클라우드 DB 연결 URL을 설정합니다. 실제 값으로 변경해야 합니다.
DATABASE_URL="postgresql://여기에_사용자이름:여기에_비밀번호@여기에_주소/neondb?sslmode=require&channel_binding=require"

# docker test
# DATABASE_URL=postgresql://postgres:여기에_비밀번호@localhost:5433/shopping_app

# NextAuth.js 설정을 위한 시크릿 키와 URL을 설정합니다. 실제 시크릿 키로 변경해야 합니다.
# `npx auth secret` 명령어로 시크릿 키를 생성할 수 있습니다.
NEXTAUTH_SECRET="터미널에서_발급받은_복잡한_문자열"
NEXTAUTH_URL="http://localhost:3000"